body {
    background-color: rgb(165, 98, 152) ;
    color: hsl(327, 30%, 7%) ;
}
video{ position: relative;
    top: -20px;
    left: 500px ;
    width: 560px;
    padding: 10px;
    background-color: rgb(237, 89, 73);
 }
 div { position:relative;
    top: -50px;
    left: 500px ;
    width: 560px;
    padding: 10px;
    background-color: rgb(237, 89, 73);

}
input{ position: relative;
    top: 0px;
    left: 500px ;
    width: 560px;
    padding: 10px;
    background-color: rgb(237, 89, 73);
    border-color:rgb(186, 117, 28);

}

button { position: relative;
       left: 200px;
       border-color: rgb(175, 107, 19);
}

